<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <!-- 动画过程中，禁止操作 -->
    <div id="block" style="display:none"></div>
    <div class="circle-two-box">
        <div class="circle left">
            <div class="circle-left"></div>
            <div class="circle-right"></div>
            <div class="circle-bottom-left"></div>
            <div class="circle-bottom-right"></div>
        </div>
        <div class="circle right">
            <div class="circle-left"></div>
            <div class="circle-right"></div>
            <div class="circle-bottom-left"></div>
            <div class="circle-bottom-right"></div>
        </div>
    </div>
    <div id="loading">
        <div class="loadLeft"></div>
        <div class="loadRight"></div>
    </div>
    <canvas id="myCanvas"></canvas>
    <div class="box2"></div>
    <div class="speed"></div>
    <div class="text">text</div>
    <div class="text">text</div>
    <div class="text">text</div>
    <div class="text">text</div>
    <button id="qie">切换</button>
</body>

</html>