#block {
    position: fixed;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
    width   : 100%;
    height  : 100%;
    z-index : 999;
}

canvas {
    background-color: #fff;
}
#myCanvas{
    width: 100%;
}

.circle-two-box {
    display: flex;

    .circle {
        -webkit-mask : radial-gradient(transparent 10px, #000 10px);
        width        : 30px;
        height       : 30px;
        overflow     : hidden;
        border-radius: 50%;
        position     : relative;

        .circle-left {
            width           : 100%;
            height          : 50%;
            background      : #24B39B;
            transform-origin: 50% 100%;
            position        : absolute;
            top             : 0;
            left            : 0;
            z-index         : 0;
        }

        .circle-right {
            width           : 100%;
            height          : 50%;
            background      : #24B39B;
            transition      : transform .3s linear;
            transform-origin: 50% 0%;
            position        : absolute;
            right           : 0;
            bottom          : 0;
            z-index         : 2;
        }

        .circle-bottom-left {
            width     : 100%;
            height    : 50%;
            background: rgb(234, 67, 15);
            position  : absolute;
            top       : 0;
            left      : 0;
            z-index   : -1;
        }

        .circle-bottom-right {
            width     : 100%;
            height    : 50%;
            background: rgb(234, 67, 15);
            position  : absolute;
            right     : 0;
            bottom    : 0;
            z-index   : 1;
        }
    }
    .right{
        .circle-left{
            z-index: 2;
        }
        .circle-right{
            z-index: 0;
        }
        .circle-bottom-left{
            z-index: 1;
        }
        .circle-bottom-right{
            z-index: -1;
        }
    }


}


.info {
    width      : 400px;
    height     : 400px;
    line-height: 400px;
    text-align : center;
    margin-top : -400px;
}